@font-face {
    font-family: 'gt-super-regular';
    src: url('../fonts/GTSuperDisplay-Regular.otf');
}
@font-face {
    font-family: 'gt-super-book';
    src: url('../fonts/GTSuperText-Book.otf');
}
@font-face {
    font-family: 'Weissenhof-light';
    src: url('../fonts/Indian-Type-Foundry-WeissenhofGrotesk-Light.otf');
}