:root{
    --bg-border: #1D3638;
    --text-black: #2D2A26;
    --text-green: #558085;    
}
.color-1{
    top: 80px;
    left: -160px;
    width: 263px;
    height: 263px;
    background: transparent radial-gradient(closest-side at 50% 50%, #558085 0%, #94AFB29A 100%, #F8F8F8 100%) 0% 0% no-repeat padding-box;
    opacity: 0.55;
    filter: blur(50px);
    position: absolute;
}
.color-2{
    top: 250px;
    left: -160px;
    width: 263px;
    height: 263px;
    background: transparent radial-gradient(closest-side at 50% 50%, #1D3638 0%, #647576AC 100%, #F8F8F800 100%, #F8F8F8 100%) 0% 0% no-repeat padding-box;
    opacity: 0.55;
    filter: blur(50px);
    position: absolute;
}
.color-3{ 
    right: 0px;
    width: 263px;
    height: 263px;
    top: 1000px;
    position: absolute;
    background: transparent radial-gradient(closest-side at 50% 50%, #558085 0%, #94AFB29A 100%, #F8F8F8 100%) 0% 0% no-repeat padding-box;
    opacity: 0.55;
    filter: blur(50px);
}
.bg-green{
    color: var(--text-green) !important;
}
.navbar{
    background: #F8F8F8 0% 0% no-repeat padding-box;
    border-bottom: 1px solid var(--bg-border);
    font-family: 'Weissenhof-light' !important;
}
.navbar-section{
    margin-bottom: 30px;
}
.navbar-nav{
    margin-left: auto;
}
.nav-item{
    border-radius: 30px;
    padding-left: 55px;
    padding-right: 55px;
    line-height: 16px;
}
.navbar-nav .active{
    border: 1px solid var(--bg-border);
    border-radius: 30px;
}

.border-top{
    border-top: 1px solid var(--bg-border) !important;    
}
.border-bottom{
    border-bottom: 1px solid var(--bg-border) !important;
}
.border-end{
    border-right: 1px solid var(--bg-border) !important;
}
.main-container{
    height: auto;
}
.content-title{
    width: 100% !important;
    height: 70%;
    border-bottom: 1px solid var(--bg-border);
    border-right: 1px solid var(--bg-border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-title h1{
    width: 75%;
    font-size: 56px;
    line-height: 80px;
    font-family: 'gt-super-regular';
    padding: 40px;
    margin-top: 60px;
    color: var(--text-black);
}
.content-title p{
    width: 75%;
    font-size: 18px;
    line-height: 32px;
    font-family: 'Weissenhof-light';
    padding: 0 40px 40px;
    color: var(--text-black);
    letter-spacing: 0px;    
    opacity: 1;
}
.content-info{
    border-right: 1px solid var(--bg-border);
    width: 100%;
    height: 30%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.content-info h3{
    font-family: 'Weissenhof-light';
    text-align: left;
    color: var(--text-green);
}
.content-info p{
    font-family: 'Weissenhof-light';
    font-size: 18px;
    text-align: left;
    line-height: 24px;
}
.content-info .card-content{
    width: 40%;
}
.content-info .card-content:nth-child(2){
    width: 20%;
}
.card-content:nth-child(2){
    display: grid;
    place-items: center;
}
.content-circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #F5623E;
    opacity: 1;
    /* margin-top: 50%;
    margin-left: auto;
    margin-right: auto; */
}
.content-img{
    padding-top: 10%;
    padding-bottom: 3%;
}
.content-img img{
    width: 100%;
}
.container-cards{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}
.content-cards{
    border-top: 1px solid var(--bg-border);
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    justify-content: space-evenly;
    align-items: center;
    /* padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem; */
}
.content-cards .card{ 
    display: flex;   
    flex-direction: row;
    border: 1px solid var(--text-green);
    border-radius: 70px;
    padding: 20px;
    width: 37%;
    height: 250px;
    margin-left: 0%;
}
.content-cards .card h2{
    font-family: 'gt-super-book';
    font-size: 39px;
    line-height: 43px;
    margin: auto;    
}
.content-cards .card p{
    margin: auto;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Weissenhof-light';
    padding-left: 20px;
    text-align: left;
}
.content-cards .card:hover{    
    background-color: #1D3638 !important;   
}
.content-cards .card:hover h2{    
    color: #F5623E !important;   
}
.content-cards .card:hover p{    
    color: #F8F8F8 !important;   
}
footer .nav-item{    
    padding-left: 55px;
    padding-right: 55px;
}
footer .nav-item .nav-link{    
    color: #2D2A26;
}
footer .redes-sociales {
    font-size: 30px;
    color: #1D3638;
    margin-right: 1rem;
}
@media (min-width: 200px) and (max-width:991px){
    .navbar  .nav-item{        
        padding-left: 0px;
        padding-right: 0px;
    }
    .navbar  .img-nav{
        content:url("../img/logo_icon_nav.svg");
    } 
    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.55);
        border-color: rgba(0,0,0,0);
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url('../img/hamburguesa.svg') !important;
    }
    .navbar .navbar-collapse {
      width: 100% !important;
      margin-top: 1rem;
    }

    .navbar .nav-item{
        border: 1px solid var(--bg-border);
        border-radius: 30px;
        padding: .75rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    .color-3, .color-1, .color-2{
        display: none;
    }
    /* .container-cards{
        height: 1000px;
    } */
    .content-title{
        width: 100% !important;
        height: auto;
        border-bottom: 1px solid var(--bg-border);
        border-right: 0px solid var(--bg-border);
        padding-top: 3rem;
    }
    .content-title h1{
        font-size: 50px;
        line-height: 50px;
        padding: 0%;
        color: var(--text-black);
    }
    .content-title p{
        font-size: 15px;
        line-height: 25px;        
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 2rem;
        padding-top: 10px;
        color: var(--text-black);
        color: var(--text-black);        
    }
    .content-info{
        border-right: 0px solid var(--bg-border);
        width: 100%;
        height: auto;
        padding-left: 0%;
        padding-bottom: 0%;
        flex-direction: column;
        margin-bottom: 30px;
    }    
    .content-info h3{
        text-align: center;
        color: var(--text-green);
        margin-top: 1.75rem;         
    }
    .content-info p{
        text-align: center;
        margin-top: 1rem;        
    }
    .content-circle{
        width: 80px;
        height: 80px;
        border: 1px solid #F5623E;
        opacity: 1;
    }
    .content-img{
        border-top: 1px solid var(--bg-border);
        display: none;
    }
    .content-img img{
        width: 350px;
        height: auto;
        margin-left: 1%;
    }
    .content-info .card-content{
        width: 90%;
    }
    .content-cards{
        border-top: 1px solid var(--bg-border);
        display: flex;
        flex-direction: column;
        height: 600px;
        /* padding-top: 120px;
        padding-bottom: 40px; */
    }
    .content-cards .card{    
        flex-direction: column;
        border: 1px solid var(--text-green);
        border-radius: 50px;
        padding: 2rem;
        width: 90%;
        height: auto;
        margin: auto;
        margin-bottom: 20px; 
    }
    .content-cards .card:first-child{ 
        margin: 20px 0;   
        
    }
    .content-cards .card h2{  
        padding-top: 10px;  
        font-size: 36px;
        line-height: 38px;
        text-align: center;
        margin: auto;    
    }
    .content-cards .card p{
        margin: auto;
        font-size: 14px;
        line-height: 19px;
        padding: 5%;
        text-align: center;
    }    
}
@media (min-width: 481px) and (max-width:991px){
    .nav-item{        
        padding-left: 0px;
        padding-right: 0px;
    }
    .content-title{
        width: 100% !important;
        border-bottom: 1px solid var(--bg-border);
        border-right: 0px solid var(--bg-border);
    }
    .content-title h1{
        font-size: 50px;
        line-height: 50px;
        padding: 0%;
        color: var(--text-black);
    }
    .content-title p{
        font-size: 15px;
        line-height: 15px;        
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 2rem;
        padding-top: 3%;
        color: var(--text-black);              
    }
    .content-info{
        border-right: 0px solid var(--bg-border);
        width: 100%;
        padding-left: 0%;
        padding-bottom: 0%;        
    }    
    .content-info h3{
        text-align: center;
        color: var(--text-green);
        padding-top: 1.75rem;         
    }
    .content-info p{
        text-align: left;
        padding-top: 1rem;        
    }
    .content-circle{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 1px solid #F5623E;
        opacity: 1;
        margin-top: 2%;    
        margin-left: auto;
        margin-right: auto;
    }
    .content-img{
        border-top: 1px solid var(--bg-border);
    }
    .content-img img{
        width: 100%;
        height: 500px;        
    }
    .content-cards{
        border-top: 1px solid var(--bg-border);
        flex-direction: column;
        height: auto;
        width: 80%;
    }

    .content-cards .card{    
        flex-direction: column;
        border: 1px solid var(--text-green);
        border-radius: 77px;
        padding: 10px;
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .content-cards .card h2{    
        font-size: 40px;
        line-height: 35px;
        text-align: center;
        margin: auto;    
    }
    .content-cards .card p{
        margin: auto;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
    }
}
@media (max-width: 480px) {
    
    .container-cards{
        height: auto;
    }
    
}
@media (min-width: 992px) and (max-width:1360px){
   
    .content-circle{
        width: 70px;
        height: 70px;
        border-radius: 50%;                
        /* margin-top: 100%;
        margin-left: auto;
        margin-right: auto; */
    }
    .content-img{
        border-top: 1px solid var(--bg-border);
    }
    .content-img img{
        width: 100%;
        height: 700px;
    }
    .content-cards{ 
        border-top: 1px solid var(--bg-border);
        display: flex;
        flex-direction: row;
        /* padding-top: 3%; */
    }
    .content-cards .card{    
        flex-direction: row;
        border: 1px solid var(--text-green);
        border-radius: 77px;
        padding: 10px;
        width: 100%;
        height: 220px;
        margin-right: 1rem;
        margin-bottom: 20px; 
    }
    .content-cards .card h2{    
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        margin: auto;    
    }
    .content-cards .card p{
        margin: auto;
        font-size: 14px;
        line-height: 19px;
        padding: 10px;
        text-align: center;
    }
    .color-3{ 
        right: 0px;        
        top: 1020px;        
    }
}
@media (min-width: 2560px){
    .content-cards .card{    
        flex-direction: row;
        border: 1px solid var(--text-green);
        border-radius: 70px;
        padding: 30px;
        width: 30%;
        height: 230px;
    }
    .content-title h1{
        font-size: 70px;
        line-height: 80px;
    }
    .content-title p{
        font-size: 28px;
        line-height: 36px;
    }
    .content-info p{
        font-size: 22px;
        line-height: 32px;
    }
}
@media (max-width: 1362px){
    .card-content h3{
        font-size: 20px;
    }
    .card-content p{
        font-size: 16px;
    }
    .content-circle{
        width: 50px;
        height: 50px;
    }
}