:root{
    --bg-border: #1D3638;
    --text-black: #2D2A26;
    --text-green: #558085;    
}
/* html, body{
    height: 100vh;
}
*{
    box-sizing: border-box;
} */
.bg-green{
    color: var(--text-green) !important;
}
.navbar-section{
    margin-bottom: 30px;
}
.navbar{
    background: #F8F8F8 0% 0% no-repeat padding-box;
    border-bottom: 1px solid var(--bg-border);
    font-family: 'Weissenhof-light';
}
.navbar-nav{
    margin-left: auto;
}
.nav-item{
    border-radius: 30px;
    padding-left: 55px;
    padding-right: 55px;
}
.navbar-nav .active{
    border: 1px solid var(--bg-border);
    border-radius: 30px;    
}
.border-top{
    border-top: 1px solid var(--bg-border) !important;    
}
.border-bottom{
    border-bottom: 1px solid var(--bg-border) !important;
}
.border-start{
    border-left: 1px solid var(--bg-border) !important;
}
.border-end{
    border-right: 1px solid var(--bg-border) !important;
}
.content-info{    
    padding-left: 4rem;
    padding-right: 4rem; 
}
.content-info h3{
    color: var(--text-green);
    text-align: left;    
    font-size: 24px;
    line-height: 29px;
    font-family: 'Weissenhof-light';
    padding-bottom: 3%;
}
.content-info p{
    color: var(--text-black);
    text-align: left;    
    font-size: 18px;
    line-height: 24px; 
    font-family: 'Weissenhof-light';
}
.circulos-img{     
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0rem;    
}

.content-info img{
    width: 100%;
    height: 100px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.content-img{
    width: 100%;
    padding: 3rem;
    opacity: 1; 
    background: transparent url('../img/equipo.png') no-repeat padding-box;
    background-position: center;
    background-size: contain;
    background-size: auto;
}
.content-img .mobile{
    width: 100%;
    text-align: center;
    background-color: transparent;
    opacity: 1;
    padding: 1rem;
    border-radius: 60px;
    font-size: 40px;
    line-height: 53px;
    font-family: 'gt-super-regular';
    color: #27494D;
    border: 1px solid  var(--bg-border);
    display: none;
}
.content-img .title{
    width: 100%;
    height: 750px;
    /* background: transparent url('../img/equipo.png') 77% 34% no-repeat padding-box; */
    opacity: 1;
    padding: 2rem;
}
.content-img .title h2{
    width: 40%;
    text-align: center;
    background-color: #F8F8F8;
    opacity: 1;
    padding: 1rem;
    border-radius: 60px;
    font-size: 40px;
    line-height: 53px;
    font-family: 'gt-super-regular';
    color: #27494D;    
}
.main-container{
    height: 90vh;
}

footer .nav-item{    
    padding-left: 55px;
    padding-right: 55px;
}
footer .nav-item .nav-link{    
    color: #2D2A26;
}
footer .redes-sociales {
    font-size: 25px;
    color: #1D3638;
    margin-right: 1rem;
}

@media (min-width: 200px) and (max-width:991px){
    .navbar  .nav-item{        
        padding-left: 0px;
        padding-right: 0px;
    }
    .navbar  .img-nav{
        content:url("../img/logo_icon_nav.svg") !important;
    } 
    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.55);
        border-color: rgba(0,0,0,0);
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url('../img/hamburguesa.svg') !important;
    }
    .navbar .navbar-collapse {
      width: 100% !important;
      margin-top: 1rem;
    }

    .navbar .nav-item{
        border: 1px solid var(--bg-border);
        border-radius: 30px;
        padding: .75rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    .content-img{
        width: 100%;
        padding: 0rem;
        padding-top: 3rem;     
        opacity: 1; 
        padding-left: 2rem;
        padding-right: 2rem; 
    }
    .content-img .mobile{
        margin-top: 350px;
        display: block;
        position: relative;
        top: -340px;
        margin-bottom: 3rem; 
    }
    .content-mobile{
        display: none;
    }
    .container-mobile{
        margin-top: 230px;
    }
    .content-img .title{        
        height: 600px;
        /* background: transparent url('../img/equipo.png') 70% 37% no-repeat padding-box;     */
    }
    .content-img .title h2{
        display: none;
    }
    .content-info{
        padding-top: 0rem;
        padding-left: 2rem;
        padding-right: 2rem; 
    }
    .py-5{
        padding-top: 0rem!important;
        padding-bottom: 0rem!important;
    }
    .content-info h3{
        color: var(--text-green);
        text-align: center;    
        font-size: 24px;
        line-height: 29px;
        font-family: 'Weissenhof-light';
        padding-bottom: 3%;
    }
    .content-info p{
        padding-bottom: 1rem; 
    }
    .circulos-img{     
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 0rem;
        width: 100%;
    }
}
@media (max-height: 825px){
    .container-mobile{
        margin-top: 400px;
    }
}
