:root{
    --bg-border: #1D3638;
    --text-black: #2D2A26;
    --text-green: #558085;    
}
.bg-green{
    color: var(--text-green) !important;
}
.navbar{
    background: #F8F8F8 0% 0% no-repeat padding-box;
    border-bottom: 1px solid var(--bg-border);
    font-family: 'Weissenhof-light';
}
.navbar-nav{
    margin-left: auto;
}
.nav-item{
    border-radius: 30px;
    padding-left: 55px;
    padding-right: 55px;
}
.navbar-nav .active{
    border: 1px solid var(--bg-border);
    border-radius: 30px;    
}
.border-top{
    border-top: 1px solid var(--bg-border) !important;    
}
.border-bottom{
    border-bottom: 1px solid var(--bg-border) !important;
}
.border-start{
    border-left: 1px solid var(--bg-border) !important;
}
.border-end{
    border-right: 1px solid var(--bg-border) !important;
}
.content-info{    
    padding-left: 4rem;
    padding-right: 4rem; 
}
.content-info h3{
    color: var(--text-green);
    text-align: left;    
    font-size: 24px;
    line-height: 29px;
    font-family: 'Weissenhof-light';
    padding-bottom: 3%;
}
.content-info p{
    color: var(--text-black);
    text-align: left;    
    font-size: 18px;
    line-height: 24px; 
    font-family: 'Weissenhof-light';
}
.circulos-img{     
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0rem;    
}

.content-info img{
    width: 100%;
    height: 100px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.content-img{
    width: 100%;
    padding: 3rem;
    opacity: 1; 
}
.content-img .mobile{
    width: 100%;
    text-align: center;
    background-color: transparent;
    opacity: 1;
    padding: 1rem;
    border-radius: 60px;
    font-size: 40px;
    line-height: 53px;
    font-family: 'gt-super-regular';
    color: #27494D;
    border: 1px solid  var(--bg-border);
    display: none;
}
.content-img .title{
    width: 100%;
    height: 818px;
    background: transparent url('../img/equipo.png') 77% 34% no-repeat padding-box;
    opacity: 1;
    padding: 2rem;
}
.content-img .title h2{
    width: 40%;
    text-align: center;
    background-color: #F8F8F8;
    opacity: 1;
    padding: 1rem;
    border-radius: 60px;
    font-size: 40px;
    line-height: 53px;
    font-family: 'gt-super-regular';
    color: #27494D;    
}

footer .nav-item{    
    padding-left: 55px;
    padding-right: 55px;
}
footer .nav-item .nav-link{    
    color: #2D2A26;
}
footer .redes-sociales {
    font-size: 25px;
    color: #1D3638;
    margin-right: 1rem;
}

@media (min-width: 200px) and (max-width:991px){
    .navbar  .nav-item{        
        padding-left: 0px;
        padding-right: 0px;
    }
    .navbar  .img-nav{
        content:url("../img/logo_icon_nav.svg") !important;
    } 
    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.55);
        border-color: rgba(0,0,0,0);
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url('../img/hamburguesa.svg') !important;
    }
    .navbar .navbar-collapse {
      width: 100% !important;
      margin-top: 1rem;
    }

    .navbar .nav-item{
        border: 1px solid var(--bg-border);
        border-radius: 30px;
        padding: .75rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    .content-img{
        width: 100%;
        padding: 0rem;
        padding-top: 3rem;     
        opacity: 1; 
        padding-left: 2rem;
        padding-right: 2rem; 
    }
    .content-img .mobile{
        display: block;
        margin-bottom: 3rem; 
    }
    .content-img .title{        
        height: 700px;
        background: transparent url('../img/equipo.png') 70% 37% no-repeat padding-box;    
    }
    .content-img .title h2{
        display: none;
    }
    .content-info{
        padding-top: 0rem;
        padding-left: 2rem;
        padding-right: 2rem; 
    }
    .py-5{
        padding-top: 0rem!important;
        padding-bottom: 0rem!important;
    }
    .content-info h3{
        color: var(--text-green);
        text-align: center;    
        font-size: 24px;
        line-height: 29px;
        font-family: 'Weissenhof-light';
        padding-bottom: 3%;
    }
    .content-info p{
        padding-bottom: 1rem; 
    }
    .circulos-img{     
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 0rem;
        width: 100%;
    }
}
/*
@media (min-width: 481px) and (max-width:991px){
    .nav-item{        
        padding-left: 0px;
        padding-right: 0px;
    }
    .content-title{
        width: 100% !important;
        border-bottom: 1px solid var(--bg-border);
        border-right: 0px solid var(--bg-border);
    }
    .content-title h1{
        font-size: 50px;
        line-height: 50px;
        padding: 0%;
        color: var(--text-black);
    }
    .content-title p{
        font-size: 15px;
        line-height: 15px;        
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 2rem;
        padding-top: 3%;
        color: var(--text-black);              
    }
    .content-info{
        border-right: 0px solid var(--bg-border);
        width: 100%;
        padding-left: 0%;
        padding-bottom: 0%;        
    }    
    .content-info h3{
        text-align: center;
        color: var(--text-green);
        padding-top: 1.75rem;         
    }
    .content-info p{
        text-align: left;
        padding-top: 1rem;        
    }
    .content-circle{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 1px solid #F5623E;
        opacity: 1;
        margin-top: 2%;    
        margin-left: auto;
        margin-right: auto;
    }
    .content-img{
        border-top: 1px solid var(--bg-border);
    }
    .content-img img{
        width: 100%;
        height: 500px;        
    }
    .content-cards{
        border-top: 1px solid var(--bg-border);
        display: block;
        flex-direction: column;
        padding-top: 3%;
    }
    .content-cards .card{    
        flex-direction: column;
        border: 1px solid var(--text-green);
        border-radius: 77px;
        padding: 2rem;
        width: 100%;
        height: 100%;
        margin: auto;
        margin-bottom: 4%; 
    }
    .content-cards .card h2{    
        font-size: 40px;
        line-height: 35px;
        text-align: center;
        margin: auto;    
    }
    .content-cards .card p{
        margin: auto;
        font-size: 14px;
        line-height: 19px;
        padding: 5%;
        text-align: center;
    }
}

@media (min-width: 992px) and (max-width:1360px){
   
    .content-circle{
        width: 70px;
        height: 70px;
        border-radius: 50%;                
        margin-top: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .content-img{
        border-top: 1px solid var(--bg-border);
    }
    .content-img img{
        width: 100%;
        height: 700px;
    }
    .content-cards{ 
        border-top: 1px solid var(--bg-border);
        display: flex;
        flex-direction: row;
        padding-top: 3%;
    }
    .content-cards .card{    
        flex-direction: row;
        border: 1px solid var(--text-green);
        border-radius: 77px;
        padding: 2rem;
        width: 100%;
        height: 180px;
        margin-right: 1rem;
        margin-bottom: 4%; 
    }
    .content-cards .card h2{    
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        margin: auto;    
    }
    .content-cards .card p{
        margin: auto;
        font-size: 14px;
        line-height: 19px;
        padding: 5%;
        text-align: center;
    }
    .color-3{ 
        right: 0px;        
        top: 1020px;        
    }
}
*/